# *Data Manipulation with pandas*

In [6]:
import pandas as pd
import numpy as np

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [12]:
#the dataset used for this notebook differs from DataCamp's yet the order and structure of exercises is the same

In [13]:
df = pd.read_csv(path)
df.head()

                  Date     Open     High      Low    close  Volume
0  2024-06-02 23:00:00  157.267  157.267  157.161  157.167   151.0
1  2024-06-02 23:15:00  157.167  157.219  157.167  157.203   235.0
2  2024-06-02 23:30:00  157.203  157.208  157.144  157.154   355.0
3  2024-06-02 23:45:00  157.154  157.229  157.145  157.171   253.0
4  2024-06-03 00:00:00  157.171  157.297  157.149  157.274   838.0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6866 entries, 0 to 6865
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    6866 non-null   object
 1   Open    6866 non-null   float64
 2   High    6866 non-null   float64
 3   Low     6866 non-null   float64
 4   close   6866 non-null   float64
 5   Volume  6866 non-null   float64
dtypes: float64(5), object(1)
memory usage: 322.0+ KB

In [16]:
df.shape

(6866, 6)

In [17]:
df.describe()

              Open         High          Low        close        Volume
count  6866.000000  6866.000000  6866.000000  6866.000000   6866.000000
mean    153.060327   153.128990   152.986377   153.058318   4738.459511
std       6.325436     6.303652     6.346789     6.326278   4293.659340
min     141.969000   142.147000   141.684000   141.969000      2.000000
25%     146.542250   146.617250   146.442500   146.542250   1964.000000
50%     155.586500   155.637500   155.538500   155.584500   3589.500000
75%     158.128750   158.164250   158.076000   158.128750   6184.250000
max     161.938000   161.951000   161.916000   161.938000  55752.000000

In [18]:
df.values

array([['2024-06-02 23:00:00', 157.267, 157.267, 157.161, 157.167, 151.0],
       ['2024-06-02 23:15:00', 157.167, 157.219, 157.167, 157.203, 235.0],
       ['2024-06-02 23:30:00', 157.203, 157.208, 157.14399999999998,
        157.154, 355.0],
       ...,
       ['2024-09-10 12:30:00', 143.14399999999998, 143.213, 143.135,
        143.166, 3393.0],
       ['2024-09-10 12:45:00', 143.166, 143.17, 142.95,
        143.03799999999998, 4982.0],
       ['2024-09-10 13:00:00', 143.03799999999998, 143.094,
        143.03799999999998, 143.072, 773.0]], dtype=object)

In [19]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'close', 'Volume'], dtype='object')

In [20]:
df.index

RangeIndex(start=0, stop=6866, step=1)

In [56]:
df.dtypes

Date           object
Open          float64
High          float64
Low           float64
close         float64
Volume        float64
Order_Type     object
dtype: object

## *Sorting and subseting*

In [22]:
#Sorting

df.sort_values("Volume" , ascending=False)

                     Date     Open     High      Low    close   Volume
2751  2024-07-11 14:45:00  158.749  159.669  158.348  158.649  55752.0
6690  2024-09-06 17:00:00  142.436  142.754  141.763  142.231  46690.0
2752  2024-07-11 15:00:00  158.649  158.654  157.414  158.349  45745.0
6680  2024-09-06 14:30:00  143.227  144.023  141.976  142.412  44277.0
4285  2024-08-02 14:30:00  148.998  148.998  147.012  147.277  38638.0
...                   ...      ...      ...      ...      ...      ...
1920  2024-06-30 23:00:00  160.686  160.817  160.686  160.745      4.0
4704  2024-08-08 23:15:00  147.181  147.223  147.181  147.223      4.0
6714  2024-09-08 23:15:00  142.134  142.147  142.134  142.146      4.0
6330  2024-09-02 23:00:00  146.853  146.881  146.853  146.881      4.0
4703  2024-08-08 23:00:00  147.188  147.198  147.181  147.181      2.0

[6866 rows x 6 columns]

In [27]:
df.sort_values(['Volume' , 'High'], ascending=[False, False]).head()

                     Date     Open     High      Low    close   Volume
2751  2024-07-11 14:45:00  158.749  159.669  158.348  158.649  55752.0
6690  2024-09-06 17:00:00  142.436  142.754  141.763  142.231  46690.0
2752  2024-07-11 15:00:00  158.649  158.654  157.414  158.349  45745.0
6680  2024-09-06 14:30:00  143.227  144.023  141.976  142.412  44277.0
4285  2024-08-02 14:30:00  148.998  148.998  147.012  147.277  38638.0

In [28]:
# Subseting columns

df['close']

0       157.167
1       157.203
2       157.154
3       157.171
4       157.274
         ...
6861    143.047
6862    143.144
6863    143.166
6864    143.038
6865    143.072
Name: close, Length: 6866, dtype: float64

In [29]:
df[['Date', 'close']]

                     Date    close
0     2024-06-02 23:00:00  157.167
1     2024-06-02 23:15:00  157.203
2     2024-06-02 23:30:00  157.154
3     2024-06-02 23:45:00  157.171
4     2024-06-03 00:00:00  157.274
...                   ...      ...
6861  2024-09-10 12:00:00  143.047
6862  2024-09-10 12:15:00  143.144
6863  2024-09-10 12:30:00  143.166
6864  2024-09-10 12:45:00  143.038
6865  2024-09-10 13:00:00  143.072

[6866 rows x 2 columns]

In [30]:
cols_to_subset = ['Date' , 'Volume']
df[cols_to_subset]

                     Date  Volume
0     2024-06-02 23:00:00   151.0
1     2024-06-02 23:15:00   235.0
2     2024-06-02 23:30:00   355.0
3     2024-06-02 23:45:00   253.0
4     2024-06-03 00:00:00   838.0
...                   ...     ...
6861  2024-09-10 12:00:00  4155.0
6862  2024-09-10 12:15:00  4524.0
6863  2024-09-10 12:30:00  3393.0
6864  2024-09-10 12:45:00  4982.0
6865  2024-09-10 13:00:00   773.0

[6866 rows x 2 columns]

In [34]:
# Subsetting rows

#1. Filtering by logical condition

df['close'] > 150

0        True
1        True
2        True
3        True
4        True
        ...
6861    False
6862    False
6863    False
6864    False
6865    False
Name: close, Length: 6866, dtype: bool

In [43]:
df[df['close'] > 161.900 ]

                     Date     Open     High      Low    close  Volume
2149  2024-07-03 08:15:00  161.883  161.939  161.881  161.924  1205.0
2164  2024-07-03 12:00:00  161.864  161.913  161.843  161.912  1353.0
2165  2024-07-03 12:15:00  161.912  161.949  161.898  161.924  1630.0
2166  2024-07-03 12:30:00  161.924  161.949  161.905  161.910  2029.0
2167  2024-07-03 12:45:00  161.910  161.947  161.904  161.938  1452.0
2168  2024-07-03 13:00:00  161.938  161.951  161.916  161.932  2062.0
2169  2024-07-03 13:15:00  161.932  161.938  161.907  161.915  2134.0
2170  2024-07-03 13:30:00  161.915  161.933  161.895  161.916  2025.0
2171  2024-07-03 13:45:00  161.916  161.925  161.894  161.919  1784.0

In [58]:
#2 Filtering based on text data

df['Order_Type'] = df['Open'].apply(lambda x: 'buy' if x > 160 else 'sell')
df

,Date,Open,High,Low,close,Volume,Order_Type
0,2024-06-02 23:00:00,157.267,157.267,157.161,157.167,151.0,sell
1,2024-06-02 23:15:00,157.167,157.219,157.167,157.203,235.0,sell
2,2024-06-02 23:30:00,157.203,157.208,157.144,157.154,355.0,sell
3,2024-06-02 23:45:00,157.154,157.229,157.145,157.171,253.0,sell
4,2024-06-03 00:00:00,157.171,157.297,157.149,157.274,838.0,sell
...,...,...,...,...,...,...,...
6861,2024-09-10 12:00:00,143.159,143.184,143.010,143.047,4155.0,sell
6862,2024-09-10 12:15:00,143.047,143.148,143.027,143.144,4524.0,sell
6863,2024-09-10 12:30:00,143.144,143.213,143.135,143.166,3393.0,sell
6864,2024-09-10 12:45:00,143.166,143.170,142.950,143.038,4982.0,sell
6865,2024-09-10 13:00:00,143.038,143.094,143.038,143.072,773.0,sell

In [78]:
filtered_df = df[df['Order_Type'] == 'buy' ]
filtered_df.head()

,Date,Open,High,Low,close,Volume,Order_Type
1685,2024-06-26 12:15:00,160.140,160.147,160.047,160.098,4737.0,buy
1686,2024-06-26 12:30:00,160.098,160.146,160.066,160.138,4256.0,buy
1687,2024-06-26 12:45:00,160.138,160.345,160.131,160.298,5522.0,buy
1688,2024-06-26 13:00:00,160.298,160.393,160.198,160.269,6663.0,buy
1689,2024-06-26 13:15:00,160.269,160.323,160.228,160.267,4398.0,buy

In [77]:
#3 Subsetinng based on dates

filtered_df[filtered_df['Date'] > '2024-07-11'].head()

,Date,Open,High,Low,close,Volume,Order_Type
2692,2024-07-11 00:00:00,161.562,161.627,161.562,161.587,472.0,buy
2693,2024-07-11 00:15:00,161.587,161.616,161.587,161.599,451.0,buy
2694,2024-07-11 00:30:00,161.599,161.604,161.573,161.580,481.0,buy
2695,2024-07-11 00:45:00,161.580,161.593,161.576,161.591,354.0,buy
2696,2024-07-11 01:00:00,161.591,161.596,161.574,161.575,862.0,buy

In [96]:
#4 Subsetting based on multiple conditions

is_july = filtered_df['Date'].str.startswith('2024-07')
is_volume = filtered_df['Volume'] > 11000

filtered_df[is_july & is_volume]

,Date,Open,High,Low,close,Volume,Order_Type
2180,2024-07-03 16:00:00,161.686,161.686,160.766,160.964,20245.0,buy
2181,2024-07-03 16:15:00,160.964,161.237,160.871,161.235,14053.0,buy
2366,2024-07-05 14:30:00,160.535,161.154,160.329,160.825,28515.0,buy
2367,2024-07-05 14:45:00,160.825,161.050,160.763,160.943,15864.0,buy
2368,2024-07-05 15:00:00,160.943,161.023,160.778,160.874,12684.0,buy
2564,2024-07-09 16:00:00,161.016,161.315,160.887,161.125,11230.0,buy
2750,2024-07-11 14:30:00,161.516,161.519,158.440,158.749,34677.0,buy

In [99]:
#or as a one liner 

filtered_df[ (filtered_df['Date'].str.startswith('2024-07')) & (filtered_df['Volume'] > 11000) ]

,Date,Open,High,Low,close,Volume,Order_Type
2180,2024-07-03 16:00:00,161.686,161.686,160.766,160.964,20245.0,buy
2181,2024-07-03 16:15:00,160.964,161.237,160.871,161.235,14053.0,buy
2366,2024-07-05 14:30:00,160.535,161.154,160.329,160.825,28515.0,buy
2367,2024-07-05 14:45:00,160.825,161.050,160.763,160.943,15864.0,buy
2368,2024-07-05 15:00:00,160.943,161.023,160.778,160.874,12684.0,buy
2564,2024-07-09 16:00:00,161.016,161.315,160.887,161.125,11230.0,buy
2750,2024-07-11 14:30:00,161.516,161.519,158.440,158.749,34677.0,buy

## *Creating New Columns*

- mutating df
- transforming df
- feature engineering

In [101]:
df.head()

                  Date     Open     High      Low    close  Volume Order_Type
0  2024-06-02 23:00:00  157.267  157.267  157.161  157.167   151.0       sell
1  2024-06-02 23:15:00  157.167  157.219  157.167  157.203   235.0       sell
2  2024-06-02 23:30:00  157.203  157.208  157.144  157.154   355.0       sell
3  2024-06-02 23:45:00  157.154  157.229  157.145  157.171   253.0       sell
4  2024-06-03 00:00:00  157.171  157.297  157.149  157.274   838.0       sell

In [102]:
df['Bid/Ask_Spread'] = (df['High'] - df['Low']) / 2.0

In [103]:
df.head()

,Date,Open,High,Low,close,Volume,Order_Type,Bid/Ask_Spread
0,2024-06-02 23:00:00,157.267,157.267,157.161,157.167,151.0,sell,0.053
1,2024-06-02 23:15:00,157.167,157.219,157.167,157.203,235.0,sell,0.026
2,2024-06-02 23:30:00,157.203,157.208,157.144,157.154,355.0,sell,0.032
3,2024-06-02 23:45:00,157.154,157.229,157.145,157.171,253.0,sell,0.042
4,2024-06-03 00:00:00,157.171,157.297,157.149,157.274,838.0,sell,0.074

In [120]:
df['Log_Return'] = df['close'].pct_change() * 100

In [122]:
df.tail()

,Date,Open,High,Low,close,Volume,Order_Type,Bid/Ask_Spread,Log_Return
6861,2024-09-10 12:00:00,143.159,143.184,143.010,143.047,4155.0,sell,0.0870,-0.078235
6862,2024-09-10 12:15:00,143.047,143.148,143.027,143.144,4524.0,sell,0.0605,0.067810
6863,2024-09-10 12:30:00,143.144,143.213,143.135,143.166,3393.0,sell,0.0390,0.015369
6864,2024-09-10 12:45:00,143.166,143.170,142.950,143.038,4982.0,sell,0.1100,-0.089407
6865,2024-09-10 13:00:00,143.038,143.094,143.038,143.072,773.0,sell,0.0280,0.023770

In [125]:
df['Squared_Returns'] = df['Log_Return'] ** 2

In [126]:
df.head()

,Date,Open,High,Low,close,Volume,Order_Type,Bid/Ask_Spread,Log_Return,Squared_Returns
0,2024-06-02 23:00:00,157.267,157.267,157.161,157.167,151.0,sell,0.053,NaN,NaN
1,2024-06-02 23:15:00,157.167,157.219,157.167,157.203,235.0,sell,0.026,0.022906,0.000525
2,2024-06-02 23:30:00,157.203,157.208,157.144,157.154,355.0,sell,0.032,-0.031170,0.000972
3,2024-06-02 23:45:00,157.154,157.229,157.145,157.171,253.0,sell,0.042,0.010817,0.000117
4,2024-06-03 00:00:00,157.171,157.297,157.149,157.274,838.0,sell,0.074,0.065534,0.004295

In [127]:
# side note :

# By applying a square root transformation to returns, particularly in cases where returns are not normally distributed 
# or exhibit heteroscedasticity (varying variance), the transformation can help stabilize the variance.

## *Summary Statistics with pandas*

In [129]:
# sumarizing numerical data

df.head()

,Date,Open,High,Low,close,Volume,Order_Type,Bid/Ask_Spread,Log_Return,Squared_Returns
0,2024-06-02 23:00:00,157.267,157.267,157.161,157.167,151.0,sell,0.053,NaN,NaN
1,2024-06-02 23:15:00,157.167,157.219,157.167,157.203,235.0,sell,0.026,0.022906,0.000525
2,2024-06-02 23:30:00,157.203,157.208,157.144,157.154,355.0,sell,0.032,-0.031170,0.000972
3,2024-06-02 23:45:00,157.154,157.229,157.145,157.171,253.0,sell,0.042,0.010817,0.000117
4,2024-06-03 00:00:00,157.171,157.297,157.149,157.274,838.0,sell,0.074,0.065534,0.004295

In [130]:
df['Bid/Ask_Spread'].mean()

0.0713066559860182

In [131]:
df['Bid/Ask_Spread'].mode()

0    0.027
Name: Bid/Ask_Spread, dtype: float64

In [132]:
df['Bid/Ask_Spread'].var()

0.005197106276157533

In [133]:
df['Bid/Ask_Spread'].std()

0.07209095835233108

In [134]:
df['Bid/Ask_Spread'].max()

1.5394999999999897

In [135]:
df['Bid/Ask_Spread'].min()

0.0015000000000071623

In [137]:
df['Bid/Ask_Spread'].quantile()

0.05299999999999727

In [138]:
# summarizing dates

df['Date'].min()

'2024-06-02 23:00:00'

In [139]:
df['Date'].max()

'2024-09-10 13:00:00'

In [145]:
# agg method to map a a function onto specified column/rows

def pct30(column):
    return column.quantile(0.3)

In [146]:
def pct80(column):
    return column.quantile(0.8)

In [147]:

df['close'].agg([pct30 , pct80])

pct30    147.0635
pct80    159.1190
Name: close, dtype: float64

In [153]:
# cumulative sum

cum_sum = df['Volume'].cumsum()
cum_sum

0            151.0
1            386.0
2            741.0
3            994.0
4           1832.0
           ...
6861    32520591.0
6862    32525115.0
6863    32528508.0
6864    32533490.0
6865    32534263.0
Name: Volume, Length: 6866, dtype: float64

In [ ]:
# additionally there are other cumulative stats like :    .cummax , cummin , cumprod

## *Counting*

In [11]:
# For this example i will use Faker for fake data generation for the DataFrame

In [25]:
import pandas as pd
from faker import Faker
import random

# Initialize Faker for fake data generation
fake = Faker()

# Generate random Bloomberg-like financial data
data = []
for _ in range(30):
    ticker = fake.random_element(elements=('AAPL', 'GOOGL', 'AMZN', 'MSFT', 'TSLA'))
    company_name = fake.company()
    exchange = fake.random_element(elements=('NYSE', 'NASDAQ'))
    last_price = random.uniform(100, 2000)  # Last traded price
    market_cap = random.randint(1000000000, 2000000000000)  # Market capitalization in USD
    pe_ratio = random.uniform(5, 50)  # Price-to-earnings ratio
    dividend_yield = random.uniform(0, 5)  # Dividend yield (%)
    earnings_per_share = random.uniform(1, 20)  # Earnings per share
    volume = random.randint(1000000, 10000000)  # Trading volume
    beta = random.uniform(0.5, 2.0)  # Beta coefficient
    data.append([ticker, company_name, exchange, last_price, market_cap, pe_ratio, dividend_yield, earnings_per_share, volume, beta])

# Create DataFrame
df = pd.DataFrame(data, columns=['Ticker', 'Company Name', 'Exchange', 'Last Price', 'Market Cap', 'P/E Ratio', 'Dividend Yield (%)', 'EPS', 'Volume', 'Beta'])

# Adding duplicates to the DataFrame
df = pd.concat([df] * 2, ignore_index=True)  # Duplicates each row once

# Display the DataFrame


df.head(31)

,Ticker,Company Name,Exchange,Last Price,Market Cap,P/E Ratio,Dividend Yield (%),EPS,Volume,Beta
0,GOOGL,Hogan-Mccullough,NYSE,1236.426034,770056219072,8.868341,3.690682,7.069619,6542456,0.936827
1,AMZN,Baker and Sons,NYSE,773.873359,584217423307,32.676797,3.708999,16.158544,7499712,1.526390
2,AAPL,Parsons-Lewis,NASDAQ,514.085390,1452189357447,20.347675,2.811100,8.002927,7000831,0.990580
3,AMZN,Coleman Ltd,NYSE,751.660731,115086861462,45.991582,0.196679,3.719283,3703712,0.569198
4,AMZN,Moore and Sons,NASDAQ,489.912162,1440069972190,15.868198,0.768755,7.841239,5653412,0.512189
5,GOOGL,Wilkins-Jordan,NYSE,1270.673360,1788983406494,14.646331,2.850187,5.255862,7057742,0.563434
6,AMZN,Chandler LLC,NASDAQ,1903.710443,1140191333902,34.914300,4.628766,19.888561,9978979,1.165563
7,MSFT,Anthony-Williamson,NASDAQ,518.670600,857094529847,29.114335,2.525364,18.371537,3185133,1.859365
8,GOOGL,Smith and Sons,NASDAQ,1338.228106,26687150982,26.296906,1.433891,14.382955,1133346,1.396049
9,TSLA,Jones Inc,NYSE,1059.950974,210788355381,11.526021,0.133270,14.981695,4585351,1.750241
10,GOOGL,Briggs and Sons,NASDAQ,319.284950,479715566915,45.171594,4.239481,1.590826,6114048,0.770155
11,AMZN,"Lewis, Larsen and Ayers",NYSE,183.563260,1300332216960,41.323051,3.751818,7.988204,9026831,1.528651
12,MSFT,"Ramos, Bailey and Waters",NASDAQ,1865.199946,267427841559,44.867137,2.219861,12.078565,9144657,1.065279
13,MSFT,Thomas PLC,NYSE,1323.978190,1182241444608,46.647266,3.248473,2.837527,5777724,0.538328
14,AAPL,Bowers-Brewer,NYSE,774.133823,55911952610,45.446412,4.397987,7.372043,5494997,1.385542
15,MSFT,"Drake, Franklin and White",NASDAQ,1107.153850,281701713810,10.897344,1.889355,16.443353,2510688,0.889243
16,TSLA,"Hicks, Pacheco and Ward",NASDAQ,1383.838852,1223055668933,21.219839,3.773612,16.048357,3354440,1.065689
17,AMZN,"Williams, Burke and Hill",NYSE,1214.487696,1128404828340,39.044142,1.851208,2.403128,4334487,1.656933
18,AMZN,"Everett, Jones and Richardson",NASDAQ,971.053825,14858365759,40.631282,2.437753,18.464172,5605224,1.436313
19,MSFT,Noble-Nelson,NASDAQ,1929.109774,658224866069,35.893402,3.748978,15.647212,7567803,1.622520
20,GOOGL,Castillo and Sons,NASDAQ,877.685233,229398069350,27.295708,1.849060,19.000546,8955821,1.840143
21,AAPL,"Wells, Hancock and Martinez",NYSE,729.467535,117337869581,19.005294,0.876990,7.671050,8658383,1.314604
22,MSFT,Schroeder-Shields,NASDAQ,1253.533345,1005519498489,12.002896,2.454573,8.518016,3716929,1.990645
23,TSLA,Bradley-Patterson,NASDAQ,439.119400,1446322385550,25.326694,3.978529,12.101402,7609144,1.056877
24,GOOGL,Mcbride LLC,NASDAQ,1632.265758,1590691185012,10.497266,2.858470,9.887589,6444919,1.253033
25,TSLA,Wong PLC,NYSE,1314.541230,1611414170796,23.626919,0.735692,11.035544,7370577,0.935200
26,AAPL,Clark Ltd,NASDAQ,177.731132,1985543966044,35.278135,4.786553,19.642791,8410931,1.681244
27,AAPL,Thomas-Hogan,NYSE,1633.624682,1296748436145,49.992210,2.777977,5.760047,3894797,0.721614
28,MSFT,"Smith, Patel and Ramos",NASDAQ,972.435853,764245031569,5.243757,2.119477,17.563844,7094126,0.598135
29,AAPL,Palmer PLC,NYSE,314.107441,693723789359,30.920768,0.683963,19.873952,9147938,1.902126
30,GOOGL,Hogan-Mccullough,NYSE,1236.426034,770056219072,8.868341,3.690682,7.069619,6542456,0.936827

In [34]:
## Dropping duplicate pairs

df = df.drop_duplicates(subset=[ "Ticker"])
df

,Ticker,Company Name,Exchange,Last Price,Market Cap,P/E Ratio,Dividend Yield (%),EPS,Volume,Beta
0,GOOGL,Hogan-Mccullough,NYSE,1236.426034,770056219072,8.868341,3.690682,7.069619,6542456,0.936827
1,AMZN,Baker and Sons,NYSE,773.873359,584217423307,32.676797,3.708999,16.158544,7499712,1.526390
2,AAPL,Parsons-Lewis,NASDAQ,514.085390,1452189357447,20.347675,2.811100,8.002927,7000831,0.990580
7,MSFT,Anthony-Williamson,NASDAQ,518.670600,857094529847,29.114335,2.525364,18.371537,3185133,1.859365
9,TSLA,Jones Inc,NYSE,1059.950974,210788355381,11.526021,0.133270,14.981695,4585351,1.750241

In [36]:
# Counting 

df["Exchange"].value_counts()

NYSE      3
NASDAQ    2
Name: Exchange, dtype: int64

In [37]:
# turning counts into proportions of the total

df["Exchange"].value_counts(normalize=True)

NYSE      0.6
NASDAQ    0.4
Name: Exchange, dtype: float64

## *Grouped Summary Statistics*

In [38]:
df.groupby("Ticker")["Volume"].mean()

Ticker
AAPL     7000831.0
AMZN     7499712.0
GOOGL    6542456.0
MSFT     3185133.0
TSLA     4585351.0
Name: Volume, dtype: float64

In [39]:
df.groupby("Ticker")["Volume"].agg([min , max , sum])

            min      max      sum
Ticker
AAPL    7000831  7000831  7000831
AMZN    7499712  7499712  7499712
GOOGL   6542456  6542456  6542456
MSFT    3185133  3185133  3185133
TSLA    4585351  4585351  4585351

In [57]:
df.groupby("Ticker")["Volume"].agg(sum)

Ticker
AAPL     7000831.0
AMZN     7499712.0
GOOGL    6542456.0
MSFT     3185133.0
TSLA     4585351.0
Name: Volume, dtype: float64

In [59]:
df.groupby("Company Name")[["Market Cap" , "Volume"]].agg([np.max , np.min , np.mean , np.median])

                       Market Cap                                             \
                              max            min          mean        median
Company Name
Anthony-Williamson   857094529847   857094529847  8.570945e+11  8.570945e+11
Baker and Sons       584217423307   584217423307  5.842174e+11  5.842174e+11
Hogan-Mccullough     770056219072   770056219072  7.700562e+11  7.700562e+11
Jones Inc            210788355381   210788355381  2.107884e+11  2.107884e+11
Parsons-Lewis       1452189357447  1452189357447  1.452189e+12  1.452189e+12

                       Volume
                          max        min       mean     median
Company Name
Anthony-Williamson  3185133.0  3185133.0  3185133.0  3185133.0
Baker and Sons      7499712.0  7499712.0  7499712.0  7499712.0
Hogan-Mccullough    6542456.0  6542456.0  6542456.0  6542456.0
Jones Inc           4585351.0  4585351.0  4585351.0  4585351.0
Parsons-Lewis       7000831.0  7000831.0  7000831.0  7000831.0

## *Pivot Tables in pandas*

In [60]:
df.pivot_table(values="Market Cap" , index="Ticker")

           Market Cap
Ticker
AAPL    1452189357447
AMZN     584217423307
GOOGL    770056219072
MSFT     857094529847
TSLA     210788355381

In [61]:
# calculating cube root of market cap 

df.pivot_table(values="Market Cap" , index="Ticker" , aggfunc=np.cbrt)

          Market Cap
Ticker
AAPL    11324.205708
AMZN     8359.715577
GOOGL    9165.879516
MSFT     9498.963986
TSLA     5951.350637

## *Slicing and Indexing DataFrames*

TBC

 *Calculate periodograms - STFT for different time windows. 

- For example : window of 24 hours with 5 or 15 minute close price data.*

*If significat peaks occur in the Fourier power spectrum then the frequencies of these period might have a meaning or be insightful.*

In [42]:
cols = ['open_time', 'open' , 'high' ,'low' , 'close' , 'volume' , 'close_time', 'quote_volume' , 'count' , 'taker_buy_volume' , 'taker_buy_quote_volume' , 'ignore' ]

path = '/Users/patryknextdoor/Desktop/BTCUSDT-5m-2024-09-21.csv'

df = pd.read_csv(path , names = cols , header=None)
df.head()



df['open_time'] = pd.to_datetime(df['open_time'] , unit='ms')  # Adjust the unit if needed (e.g., 'ms', 'us')

# If you also want to convert 'close_time'
df['close_time'] = pd.to_datetime(df['close_time'] , unit='ms')

df.head()


new = df['close'].copy()
new.head()

0    63112.94
1    63118.62
2    63071.18
3    63110.69
4    63283.99
Name: close, dtype: float64